
$mainColor: #ebf2f0;
$highlightColor: #FFA38F;
$buttonColor: #274c57;

body {
  font-family: Inter,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
  margin: 0;
  height: 100%;
}

canvas[resize] {
  width: 100%;
  height: 100%;
}

#canvas-div {
  border: 2px solid cadetblue;
  border-radius: 5px; 
}

#homepage-div {
  background-color: $mainColor;
}

#homepage-logo {
  width: 100%;
  height: 100%;
}

.navbar {
  height: 5em;
  background-color: $mainColor;
  img {
    height: 100%
  }
}

.content {
  padding: 10px;
  min-height: calc(100vh - 10em);
  display: flex;
  flex-direction: column;
  background-color: $mainColor;
}

.footer {
  height: 5em;
  background-color: $mainColor;
  img {
    height: 100%;
    float: right
  }
}

