@import '~antd/dist/antd.less';

@mainColor: #f2edeb;
@highlightColor: #FFA38F;
@buttonColor: #274c57;
@borderColor: #d1d1d1;

@char-w: 1ch;
@gap: 0.3*@char-w;

#root {
  font-family: 'Nanum Gothic Coding', monospace;
  height: 100%;
  background-color: @mainColor;
}

#header-logo {
  width: 200px;
  float: left;
}

#header-user-info {
  float: right;
}

img {
  max-width: 100%;
  max-height: 100%;
}

#login-form-div {
  padding: 24px;
  margin: 36px;
  border: 2px solid @buttonColor;
  border-radius: 5px;
}

#profile-friends-sider {
  padding: 24px;
  border-radius: 2px;
  height: 100%;
}

.dot {
  border-radius: 50%;
  background-color: black;
  margin: auto;
}

.dot:hover {
  background-color: #383838
}

#begin-round-button {
  width: 300px;
  height: 150px;
  background-color: @highlightColor;
  font-size: 40px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

#countdown-timer {
  color: crimson;
  text-align: center;
}

#word-to-draw {
  text-align: center;
}

.borderless-input {
  height: 100px;
  width: 100%;
  padding: 0;
  font-size: 80px;
  border: none;
  letter-spacing: 0.3ch;
  position: absolute;
  top: 0;
  left: 30px;
  background: transparent;
  z-index: 1;
}

.borderless-input:focus {
  outline: none;
}

#guess-input-wrapper {
  background-color: white;
  font-size: 80px;
  letter-spacing: 0.3ch;
  height: 120px;
  position: relative;
}

#underline-div {
  position: absolute;
  bottom: -10x;
  left: 30px;
  background: transparent;
}

canvas[resize] {
  width: 100%;
  height: 100%;
  border: 2px solid @borderColor;
  border-radius: 5px; 
  background-color: whitesmoke;
  max-width: 960px;
  max-height: 480px;
}

#homepage-div {
  background-color: @mainColor;
}

#homepage-logo {
  width: 100%;
  height: 100%;
}


