@import '~antd/dist/antd.less';

@mainColor: #f2edeb;
@highlightColor: #FF6347;
@borderColor: #d1d1d1;
@shadow-color: rgba(0, 0, 0, 0.15);

@canvasMaxWidth: 960px;

body {
  font-family: 'Nanum Gothic Coding', monospace;
  height: 100%;
  background-color: @mainColor;
}

.content {
  padding: 10px;
  min-height: 100vh - 10em;
  display: flex;
  flex-direction: column;
  background-color: @mainColor;
}

#navbar {
  box-shadow: 0 8px 6px -2px @shadow-color;
  margin-bottom: 15px;
  position: fixed;
  z-index: 2;
  width: 100%;
}

#header-logo {
  height: 60px;
  float: left;
}

#header-user-info {
  margin-top: 20px;
  float: right;
}

img {
  max-width: 100%;
  max-height: 100%;
}

#login-form-div {
  padding-top: 80px;
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
}

.dot {
  border-radius: 50%;
  background-color: black;
  margin: auto;
}

.dot:hover {
  background-color: #383838
}

#begin-round-button {
  width: 300px;
  height: 85px;
  font-size: 36px;
  margin-left: auto;
  margin-right: auto;
}

#countdown-timer {
  color: @highlightColor;
  text-align: center;
  max-width: @canvasMaxWidth;
}

#word-to-draw {
  text-align: center;
}

.borderless-input {
  height: 100px;
  width: 100%;
  padding: 0;
  font-size: 80px;
  border: none;
  letter-spacing: 0.3ch;
  position: absolute;
  top: 0;
  left: 30px;
  background: transparent;
  max-width: @canvasMaxWidth;
  z-index: 1;
}

.borderless-input:focus {
  outline: none;
}

#guess-input-wrapper {
  background-color: whitesmoke;
  font-size: 80px;
  letter-spacing: 0.3ch;
  height: 120px;
  position: relative;
  max-width: @canvasMaxWidth;
}

#underline-div {
  position: absolute;
  bottom: -10x;
  left: 30px;
  background: transparent;
}

.game-progress {
  max-width: 100%;
}

canvas[resize] {
  width: 100%;
  height: 100%;
  border: 2px solid @borderColor;
  border-radius: 5px; 
  background-color: whitesmoke;
  max-width: @canvasMaxWidth;
  max-height: @canvasMaxWidth / 2;
  margin-left: auto;
  margin-right: auto;
}

#homepage-div {
  background-color: @mainColor;
}

#homepage-logo {
  width: 80%;
  margin: auto;
}

.rodal-header {
  font-size: 100px;
  font-weight: bold;
  text-align: center;
  color: @highlightColor;
}

.rodal-body {
  font-size: 60px;
  font-weight: bold;
  text-align: center;
}

.rodal-body {
  font-size: 45px;
  font-weight: bold;
  text-align: center;
}

.vertical-center-div {
  align-items: center;
  display: inline-flex;
  flex-direction: column;
}

.main-layout {
  padding: 70px 24px 24px;
  display: flex;
  flex: auto;
  flex-direction: column;
  min-height: 0;
  background: @mainColor;
  box-sizing: border-box;
}

#game-body-div {
  max-width: @canvasMaxWidth * 1.5;
  position: relative;
}

.home-card {
  font-size: 16px;
  border: 1px solid @borderColor;
}
